
<div class="container">
    <div class="header-container">
    Reach Graph
    </div>
    <div class="row">
        <div class="col-md-12">
            <graph-line data="graphData">
            </graph-line>
        </div>
        <div id="graph-form" class="col-md-6 col-md-offset-3">

            <h3>Add new element in the graph</h3>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="valueGraph">Value
                    </label>
                </div>
                <div class="col-md-5">
                    <input type="text" pattern="[0-9]*" class="form-control" id="valueGraph" ng-model="reachForm.value">
                        </label>
                </div>
            </div>
        <br>
        <br>
            <div class="form-group">
                    <div class="col-md-4">
                        <label>Select type post</label>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control" ng-init="postSelected = typePost[0]"
                                ng-model="postSelected" ng-options="post.value for post in typePost">
                        </select>
                    </div>
            </div>
        <br>
        <br>
            <div class="form-group">
                    <div class="col-md-4">
                        <label>Select time</label>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control" ng-init="timeSelected = timeOptions[0]"
                                ng-model="timeSelected" ng-options="time.value for time in timeOptions">
                        </select>
                    </div>
            </div>

        <br>
        <div class="col-md-12" style="text-align:center">
            <button ng-click="submitNewValue()" class="btn btn-success">Submit Value</button>
        </div>
        </div>


    </div>
</div>
